{
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": false,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}